.box {
    width: 100%;
    height: 400px;
    background-color: purple;
    color: white;
    font-size: 30px;
    display: flex;

    div {
        flex-grow: 1;
        display: flex;
    }

/* 
    1+1+1+4 = 7
    4/7 
*/

    span {
        flex-grow: 1;
        text-align: center;

        /* &:nth-of-type(2) {
            flex-grow: 4;
        } */
    }
}
/* 
min-width
max-width
*/
/* @media (min-width: 640px) {
    .box {
        div {
            flex-direction: column;
        }
    }
}

@media (min-width: 1024px) {
    .box {
        flex-direction: column;
    }
} */

@media (640px < width < 1024px) {
    .box {
        display: none;
    }
}

@media (width < 640px) {

}