.box {
    width: 750px;
    height: 300px;
    background-color: darkgreen;
}

/*
    min-width`dirse o demekdirki minimum filan pixelden baslayaraq yuxari pixellerde
    bu cur gorunecek
    max-width`dirse eger o zaman demekdirki asagi pixelden verdiyin max-width`e qeder
    bu cur gorunecek
*/
/* @media (min-width: 1024px) {
    .box {
        background-color: purple;
    }
}

@media (min-width: 640px) and (max-width: 1024px) {
    .box {
        background-color: darkblue;
    }
} */

@media (width > 720px) {
    .box {
        background-color: red;
    }
}

@media (480px < width < 720px) {
    .box {
        background-color: purple;
    }
}